/* CSS Document */
$color: grey;

nav {
    font: Arial, sans-serif;
    color: $color;
    text-align: center;
    font-weight: bold;
}

nav a:link {
    color: #000;
}

#intro,
.subtitle,
h1,
h3 {
    text-align: center;
}

%detail {
    float: right;
    width: 33%;
    text-align: right;
}

.Date {
    @extend %detail;
    font-weight: normal;
}

.Location {
    @extend %detail;
}

.what {
    font-weight: bold;
}

.where {
    color: $color;
}

#My_Work > ul > li {
    color: solid black;
    list-style-type: none;
}

.general_info {
    text-align: center;
}

.project {
    width: 50%;
    display: inline-block;
}

.Contact {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;

    div {
        text-align: center;
    }
}

.biopic {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 991px) {
    .biopic {
        width: 50%;
    }
}

@media (max-width: 990px) {
    .biopic {
        width: 66%;
    }
}

table {
    th {
        text-align: center;
    }
}
